<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- SEO TAGS -->
        <meta name="description"
            content="A portfolio website showing the amazing projects of a frontend developer: Bautista Tobal" />
        <meta name="keywords"
            content="bautista tobal, 
            computer engineering, blog, articles, student, web developer, programmer, front-end, javascript, next.js, css, html, html5, tailwind, react, markdown, second brain" />
        <meta name="author" content="Bautista Tobal" />
        <!-- OG TAGS -->
        <meta property="og:title"
            content="Bauti Tobal | Contact me" />
        <meta property="og:description"
            content="A portfolio website showing the amazing projects of a frontend developer: Bautista Tobal" />
        <meta property="og:image" content="../public/logo.jpeg" />
        <meta property="og:url"
            content="http://127.0.0.1:5500/Frontend-roadmap/02-basic-html-website/home.html" />

        <title>Bauti Tobal | Contact me</title>
    </head>
    <body>
        <nav>
            <img
                src="../public/logo.jpeg"
                alt="KanYeWest"
                width="25px"
                height="25px">
            <h4 class="title">Bautista Tobal</h4>
            <ul style="list-style: none;" id="nav-links">
                <li><a href="../home.html">Home</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="articles.html">Articles</a></li>
                <li><a href="contact.html">Contanct</a></li>
            </ul>
        </nav>
        <main>
            <section id="hero">
                <div class="hero-head">
                    <h1>Computer Engineering student</h1>
                    <p>html only with proper layout, no styling</p>
                </div>
            </section>
            <!-- Contact -->
            <section id="contact">
                <div class="contact-head">
                    <h3>Contact</h3>
                </div>
                <p>If you have any questions or want to work with mea, please email at: <a href="mailto:bautitobal11@gmail.com">bautitobal11@gmail.com</a></p>
            </section>
        </main>
    </body>
</html>